<!DOCTYPE html>
<html>
  <head>
    <title>LetsGoEros</title>
    
    <%= csrf_meta_tags %>

    
    <%= stylesheet_link_tag  'application', media: 'all' %>
    <%# font awesome %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <%# logo font %>
   <link href="https://fonts.googleapis.com/css?family=Londrina+Outline" rel="stylesheet">
   <%# splash header fonts %>
   <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Notable" rel="stylesheet">
   <%# primary font %>
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans" rel="stylesheet">

    <%# gloc  %>
    <script type="text/javascript"> 
      window.googleAPIKey = "<%= Rails.application.credentials.google[:api_key] %>"
    </script>

    <%# favicon %>
    <link rel="shortcut icon" href="https://s3.amazonaws.com/letsgoeros-dev/lge-favicon-black-font.gif">
    <link rel="icon" href="https://s3.amazonaws.com/letsgoeros-dev/lge-favicon-black-font.gif" type="image/gif">

    <%# loading javascript maps api %>
    <%# Google doesn't allow ajax requests to the distance matrix api, so I have to load the js api here %>
    <%# https://stackoverflow.com/questions/44336773/google-maps-api-no-access-control-allow-origin-header-is-present-on-the-reque %>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.google[:api_key] %>&libraries=places"
      async defer>
    </script>

    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <%= yield %>
  </body>
</html>
